.information {
  display: flex;
  position: relative;
  align-items: center;
}
.personal-information {
  display: flex;
  position: relative;
  align-items: center;
}
.personal-information p {
  margin: 0;
}
.personal-information img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 15px;
}
.event-detial {
  padding: 10px 20px;
  background-color: #f8f8f8;
  color: #b1b1b1;
  font-size: 16px;
  height: 110px;
  border-radius: 6px;
  margin: 12px 0 20px 0;
}
.repair {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 25px 0;
  height: 30px;
}
.repair span {
  width: 210px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #1890ff;
  border-radius: 10px;
  padding: 4px;
}
.btn-inquire {
  position: absolute;
  right: 0;
}
.information .close {
  width: 14px;
  height: 14px;
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
}
.information .add-img {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  vertical-align: middle;
  cursor: pointer;
}
.add-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.publish-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
}
.publish-button .button-status {
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}
.publish-button .point-cancel {
  margin-right: 16px;
  color: #cccccc;
  background-color: #fff;
  border: 1px solid #cccccc;
}

.publish-button .point-publish {
  color: #fff;
  background-color: #4c83e5;
}
textarea {
  resize: none;
}
