.content-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.item-title {
  width: 64px;
  font-size: 16px;
  font-weight: 700;
  height: 18px;
  line-height: 18px;
  margin-right: 25px;
}
.item-content {
  flex: 1;
  font-size: 15px;
  line-height: 18px;
}
.divider {
  height: 3px;
  background: url('^assets/img/cross-line.png') no-repeat center;
  margin-top: 25px;
}
.middle {
  margin-top: 25px;
}
.middle .item-title {
  width: 100px;
  margin-right: 40px;
}
.event-detial {
  padding: 10px 20px;
  background-color: #f8f8f8;
  color: #b1b1b1;
  font-size: 16px;
  height: 110px;
  border-radius: 6px;
  margin: 12px 0 20px 0;
}
.download {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 40px;
  background-color: #f8f8f8;
  border-radius: 6px;
  margin-bottom: 8px;
  cursor: pointer;
}
.download span {
  margin-left: 10px;
  font-size: 14px;
  color: #4c83e5;
  line-height: 22px;
}
.accessory {
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
}
.accessory img {
  margin-right: 10px;
}

.inquire {
  display: flex;
  align-items: center;
  margin: 16px 0 11px 0;
  height: 40px;
  flex-direction: row-reverse;
  font-size: 16px;
  color: #429eff;
}
.head-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-left .ant-form-inline .ant-form-item {
  margin-right: 70px;
}
.response {
  display: flex;
  align-items: center;
  padding: 20px 0 10px 0;
  color: #000000;
}

.measure {
  margin-top: 10px;
  padding: 10px;
}

.emergency-all {
  margin-top: 20px;
}
.footer {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  box-shadow: 0px 7px 15px 0px rgb(0 0 0 / 10%);
  padding: 10px 20px;
  text-align: right;
  justify-content: space-between;
  left: 0px;
  background: #fff;
}
.footer-left {
  display: flex;
  justify-content: space-between;
  width: 37%;
}
.blod-title {
  font-weight: 600;
  font-size: 20px;
}
.blod-title2 {
  font-weight: 700;
  font-size: 16px;
}
.division {
  position: relative;
  top: -2px;
  left: -24px;
  width: 660px;
  height: 10px;
  z-index: -1;
  background-color: #eee;
}
.log-list {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
.done-img {
  position: absolute;
  right: 0;
  top: 15px;
  width: 80px;
  height: 80px;
}
.done-btn {
  position: absolute;
  right: -270px;
  top: 78px;
}
.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
:host ::ng-deep .ant-form-inline .ant-form-item {
  margin-right: 70px;
}
.fixation {
  position: fixed;
  top: 0;
  right: 7px;
  background-color: #fff;
  z-index: 9;
  width: 873px;
}
.choose-chart {
  color: #fff;
  box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.bg1 {
  background-color: #4c83e5;
}
.bg2 {
  background-color: #68d6a4;
}
.bg3 {
  background-color: #32c5ff;
}
.bg4 {
  background-color: #d69d00;
}
.response-chart {
  border: 1px solid #eeeeee;
  border-radius: 20px;
}

.message {
  border-radius: 5px;
  border: 1px solid #eeeeee;
  height: 320px;
  overflow-y: auto;
}
.message-title {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 700;
}

.message-list {
  padding: 15px 15px 20px 15px;
  border-bottom: 1px solid #eeeeee;
}
.message-list img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 16px;
}
.message-list p {
  margin: 0;
}
.list-detail {
  display: inline-block;
  vertical-align: middle;
}
.list-detail :first-child {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
}
.list-detail :last-child {
  font-size: 14px;
  color: #666666;
}
.list-detail-right {
  display: flex;
  float: right;
  height: 44px;
  align-items: flex-end;
}
.message-phone {
  margin: 10px 0 14px;
  color: #000000;
}
.phone-reset {
  display: flex;
  float: right;
  align-items: center;
  cursor: pointer;
}
.phone-reset img {
  margin-right: 5px;
}
.imglist {
  margin: 15px 0 0 55px;
}
.imglist img {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  border-radius: 0;
}
.list-detail .clock {
  margin-left: 8px;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
}
.clock-manual {
  border: 1px solid #97c3ff;
  background-color: #edf5ff;
  color: #1677ff;
}
.clock-auto {
  border: 1px solid #52c41a;
  background-color: #f6ffed;
  color: #52c41a;
}
.list-detail .arrive {
  color: #fff;
  background-color: #52c41a;
}
.list-detail .action {
  color: #fff;
  background-color: #1677ff;
}
.loadMore {
  width: 100%;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}
.check-btn {
  float: right;
  line-height: 30px;
  padding: 0 8px;
  color: #fff;
  background-color: #1890ff;
  border-radius: 6px;
  cursor: pointer;
}
.point-detail {
  padding: 15px;
  font-size: 15px;
}
.point-detail p {
  margin: 0;
  font-weight: 700;
}
.point-detail-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.point-name {
  font-size: 16px;
  color: #cd9306;
}
.point-status {
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.point-detail-content {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 6px;
}
.nav span {
  padding: 5px 10px;
  line-height: 22px;
  border: 1px solid #dddddd;
  cursor: pointer;
}
.nav span:nth-child(1) {
  border-radius: 4px 0px 0px 4px;
}
.nav span:nth-child(3) {
  border-radius: 0px 4px 4px 0px;
}
.nav-choose {
  color: #1677ff;
  border-color: #1677ff !important;
}
.goods-list-right {
  float: right;
}
.goods-list-right img {
  margin-right: 8px;
  width: 14px;
  height: 14px;
}
