<div class="modal-header">
  <div *ngIf="chooseMode== 'department' " class="modal-title">选择人员/部门</div>
  <div *ngIf="chooseMode== 'employee' " class="modal-title">选择人员</div>
  <div *ngIf="chooseMode== 'org' " class="modal-title">选择部门</div>
</div>
<nz-card class="choose">
  <div class="selectMain">
    <div class="item" *ngFor="let person of selectList let idx = index">
      <span>{{person.name}}</span>
      <img (click)="del(idx,person)" src="./assets/tmp/img/del.png">
    </div>
  </div>
</nz-card>

<nz-tabset>
  <nz-tab [nzTitle]="type">
    <app-department [chooseMode]="chooseMode" [(selectList)]="selectList" [functionName]="functionName"
      [pageSize]="pageSize" [singleChoice]="singleChoice" [externalParentId]="externalParentId"
      [externalCompanyId]="externalCompanyId"></app-department>
  </nz-tab>
</nz-tabset>


<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button type="submit" nzType="primary" (click)="save()">保存</button>
</div>