<div class="modal-header">
  <div class="modal-title">选择岗位</div>
</div>
<!--<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>-->
<sf #sf mode="edit" [schema]="schema" [ui]="ui" [formData]="i" button="none">
  <div class="modal-footer">
    <button nz-button type="button" nz-popconfirm
            nzPopconfirmTitle="未选择将无法进行应急要点反馈"
            nzPopconfirmPlacement="top"
            (nzOnConfirm)="close()"
            (nzOnCancel)="cancel()">关闭</button>
    <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" [nzLoading]="http.loading">保存</button>
  </div>
</sf>
