<div class="modal-header">
  <div class="modal-title">场景标签管理</div>
</div>
<div>
  <div>{{ i.matName }}</div>
  <div style="width: 100%; padding: 10px 0">
    <nz-select style="width: 100%" nzMode="multiple" nzPlaceHolder="请选择" [(ngModel)]="listOfSelectedTag">
      <nz-option *ngFor="let item of tagList" [nzLabel]="item.tagName" [nzValue]="item.id"></nz-option>
    </nz-select>
  </div>
  <div nz-col nzSpan="6" class="cform-buttons">
    <button nz-button nzType="primary" (click)="bandTag()">保存</button>
    <button nz-button nzType="default" (click)="cancel()">取消</button>
  </div>
</div>
