<div class="emergency-item">
  <div class="emergency-item-title">
    <span>{{ itemDetail.title }}</span>
    <span>措施：{{ itemDetail.measureNumber }}</span>
  </div>
  <div class="emergency-item-detail">
    <div class="detail-list">
      <img src="assets/img/icon-detail-call-grey.png" />
      <span>{{ itemDetail.call }}/{{ itemDetail.notCall }}</span>
    </div>
    <div class="detail-list">
      <img src="assets/img/icon-detail-read-grey.png" />
      <span>{{ itemDetail.read }}/{{ itemDetail.notRead }}</span>
    </div>
    <div class="detail-list">
      <img src="assets/img/icon-detail-people-grey.png" />
      <span>{{ itemDetail.sign }}/{{ itemDetail.notSign }}</span>
    </div>
  </div>
</div>
