<!--<div *ngIf="role == null"></div>-->

<!--<div nz-row nzGutter="18" *ngIf="role != null">-->
<!--  <div nz-col nzSpan="4">-->
<!--    <button nz-button nzType="primary" (click)="saveCheckMenu()" nzBlock>保存</button>-->
<!--    <nz-tree-->
<!--      #roleTreeComponent-->
<!--      [nzData]="menuNodes"-->
<!--      nzCheckable-->
<!--      nzMultiple-->
<!--      [nzCheckedKeys]="defaultCheckedKeys"-->
<!--      (nzClick)="menuEvent($event)"-->
<!--      (nzExpandChange)="menuEvent($event)"-->
<!--      (nzCheckBoxChange)="menuEvent($event)"-->
<!--    >-->
<!--    </nz-tree>-->
<!--  </div>-->

<!--  <div nz-col nzSpan="20">-->
<!--    <div nz-row style="display: flex; margin-bottom: 10px">-->
<!--      <span style="font-size: 16px; font-weight: bolder">页面权限资源: {{ optMenuName }}</span>-->
<!--      &lt;!&ndash;      <button nz-button nzType="primary">保存</button>&ndash;&gt;-->
<!--    </div>-->
<!--    <nz-empty *ngIf="optMenuId == ''" nzNotFoundContent="请先选择菜单"></nz-empty>-->
<!--    <div nz-row *ngIf="optMenuId != ''">-->
<!--      <st-->
<!--        #st-->
<!--        [data]="url"-->
<!--        [columns]="columns"-->
<!--        (change)="permissionTableChange($event)"-->
<!--        [req]="pageElementCustomRequest"-->
<!--        [res]="customResponse"-->
<!--        [page]="pageElementCustomPage"-->
<!--        ps="100"-->
<!--        size="small"-->
<!--      ></st>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div *ngIf="role == null"></div>-->

<div nz-row nzGutter="18" *ngIf="role != null">
  <div nz-col nzSpan="6" style="width: 100px; overflow-x: auto">
    <button nz-button nzType="primary" (click)="saveCheckMenu()" nzBlock>保存</button>
    <!--    <nz-tree-->
    <!--      #roleTreeComponent-->
    <!--      [nzData]="menuNodes"-->
    <!--      [nzAsyncData]="'true'"-->
    <!--      [nzCheckedKeys]="checkedMenuIds"-->
    <!--      nzShowLine-->
    <!--      nzExpandAll="true"-->
    <!--      nzCheckable-->
    <!--      (nzClick)="menuEvent($event)"-->
    <!--      (nzDblClick)="menuEvent($event)"-->
    <!--      (nzCheckBoxChange)="menuEvent($event)"-->
    <!--    ></nz-tree>-->

    <nz-tree
      #roleTreeComponent
      [nzData]="menuNodes"
      nzCheckable
      [nzCheckedKeys]="defaultCheckedKeys"
      (nzClick)="menuEvent($event)"
      (nzExpandChange)="menuEvent($event)"
      (nzCheckBoxChange)="menuEvent($event)"
    >
    </nz-tree>
  </div>

  <div nz-col nzSpan="18">
    <div nz-row>
      <span style="font-size: 16px; font-weight: bolder">页面权限资源: {{ optMenuName }}</span>
    </div>

    <!--    <nz-empty *ngIf="optMenuId == ''" nzNotFoundContent="请先选择菜单"></nz-empty>-->
    <!--    <div nz-row *ngIf="optMenuId != ''">-->
    <!--    </div>-->

    <!--    <st-->
    <!--      #st-->
    <!--      [data]="url"-->
    <!--      [columns]="columns"-->
    <!--      (change)="permissionTableChange($event)"-->
    <!--      [req]="pageElementCustomRequest"-->
    <!--      [res]="customResponse"-->
    <!--      [page]="pageElementCustomPage"-->
    <!--    ></st>-->


    <st #st [data]="url"  [scroll]="{ x: '1000pxpx' }"  [columns]="columns"></st>
  </div>
</div>
