<nz-card>
  <p class="ongoing-title">应急处置要点设置</p>
  <nz-divider></nz-divider>
  <div class="point-set">
    <div>
      <sf #sf mode="search" [button]="null" [schema]="searchSchema"> </sf>
    </div>
    <div>
      <button type="default" nz-button (click)="fromSearch()">查询</button>
      <button type="reset" (click)="resetSearch($event)" nz-button>重置</button>
      <button (click)="reset()" type="button" nz-button nzType="primary">新建</button>
    </div>
  </div>
</nz-card>
<nz-card>
  <st
    #st
    [widthMode]="{ type: 'strict' }"
    [data]="url"
    [req]="customRequest"
    [page]="customPage"
    [res]="customResponse"
    [columns]="columns"
    [responsive]="false"
    [bordered]="true"
  >
  </st>
</nz-card>

<nz-drawer [nzClosable]="true" [nzVisible]="visible" nzPlacement="right" (nzOnClose)="close()" [nzWidth]="800" [nzClosable]="false">
  <p class="blod-title">{{ titleName }}</p>
  <nz-divider></nz-divider>
  <div class="input">
    <span class="title" style="margin: 0 22px 0 0">所属规章制度类别</span>
    <nz-select
      [(ngModel)]="emergencyPointVO.emergencyFileCategoryId"
      (ngModelChange)="selectFileCategory($event)"
      nzAllowClear
      nzPlaceHolder="请选择"
      style="width: 220px"
    >
      <nz-option *ngFor="let option of fileCategory" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
    </nz-select>
  </div>
  <div class="input" style="margin-top: 25px">
    <span class="title" style="margin: 0">预案要点名称</span>
    <div class="input-content">
      <input nz-input placeholder="请输入" [(ngModel)]="emergencyPointVO.name" />
    </div>
  </div>
  <p class="title">要点配置</p>
  <!-- 角色模块 -->
  <div class="role" *ngFor="let item of emergencyPointVO.pointRoleVOList; let i = index">
    <div class="division"></div>
    <div class="input" style="margin-top: 15px">
      <span class="blod-title">角色{{ i + 1 }}</span>
      <img src="assets/img/icon-delete.png" style="margin-left: 10px; cursor: pointer" (click)="deleteRole(i)" />
      <div class="input-content">
        <nz-select
          [(ngModel)]="item.roleId"
          (ngModelChange)="selectRole($event, i)"
          nzAllowClear
          nzShowSearch
          nzPlaceHolder="请选择角色"
          style="width: 220px"
        >
          <nz-option *ngFor="let option of roleList" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </nz-select>
      </div>
    </div>
    <!-- 附件 -->
    <div class="inquire">
      <span style="font-weight: 700">附件</span>
      <nz-upload
        [nzAccept]="
          'application/msword,application/vnd.ms-excel,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.wordprocessingml.document'
        "
        [(nzFileList)]="fileList"
        [nzShowUploadList]="false"
        [nzBeforeUpload]="beforeUpload"
      >
        <button (click)="add(i)">
          <span btntext>上传附件</span>
        </button>
      </nz-upload>
    </div>
    <div class="accessory" *ngFor="let fileItem of item.emergencyPointAttachmentFileDTOS; let c = index">
      <div>
        <img [src]="judgeFile(fileItem.url)" />
        <span style="vertical-align: middle">{{ fileItem.fileName }}</span>
      </div>
      <img src="assets/img/icon-close.png" (click)="deleteFile(i, c)" />
    </div>
    <!-- 处置 要点详情 -->
    <div class="point-detail" *ngFor="let items of item.emergencyPointItemDTOS; let a = index">
      <div class="point-detail-title">
        <span class="point-name">处置要点{{ a + 1 }}</span>
        <img src="assets/img/icon-delete.png" style="cursor: pointer" (click)="deletePoint(i, a)" />
      </div>
      <div class="point-detail-content">
        <div style="margin-bottom: 25px">
          <textarea maxlength="500" nz-input rows="5" placeholder="请输入应急处置要点内容" [(ngModel)]="items.content"></textarea>
        </div>
        <nz-divider style="margin: 0 0 10px 0"></nz-divider>
        <p style="margin-bottom: 10px">应急物资参考</p>
        <div>
          <textarea maxlength="100" nz-input rows="5" placeholder="请输入应急物资参考内容" [(ngModel)]="items.materialReference"></textarea>
        </div>
      </div>
    </div>
    <div class="role-bot" (click)="addPoint(i)">
      <img src="assets/img/icon-add-blue.png" />
      <span>添加要点</span>
    </div>
  </div>
  <div class="division"></div>
  <div class="add-role" (click)="addRole()">
    <img src="assets/img/icon-add-white.png" />
    <span style="vertical-align: middle">添加角色</span>
  </div>
  <div style="height: 60px"></div>
  <div class="children-footer">
    <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px">
      <span>取消</span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary" (click)="save()">
      <span>保存</span>
    </button>
  </div>
</nz-drawer>

<!-- 停用弹窗 -->
<!-- <nz-modal class="modal" [(nzVisible)]="isShowModal" nzTitle="操作提示" (nzOnCancel)="eventCancel()"
  [nzFooter]="modalFooter">
  <p class="modal-result">请确认是否停用这条信息？</p>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="eventCancel()">取消</button>
    <button nz-button nzType="primary" (click)="editPointStatus()" [nzLoading]="isConfirmLoading">停用</button>
  </ng-template>
</nz-modal> -->
