.ongoing-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
:host ::ng-deep .ant-form-inline .ant-form-item {
  margin: 0 50px 0 0;
}
.plan-form {
  width: 70%;
  display: inline-block;
}
.head-btn {
  display: inline-block;
}
.plan-manage {
  display: flex;
  justify-content: space-between;
}
.must::before {
  content: '*';
  color: #e02020;
  font-size: 16px;
}
.blod-title {
  font-weight: 600;
  font-size: 20px;
}
.content-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
}
.item-title {
  width: 140px;
  margin-right: 25px;
  font-weight: 700;
}
.add-img {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 20px;
}
.add-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.upload {
  margin-top: 23px;
  width: 550px;
  height: 230px;
}
