<div class="modal-header">
  <div class="modal-title">上传文件</div>
</div>

<nz-upload
  [nzAccept]="
    'application/msword,application/vnd.ms-excel,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.wordprocessingml.document'
  "
  [(nzFileList)]="fileList"
  [nzBeforeUpload]="beforeUpload"
>
  <button nz-button><i nz-icon nzType="upload"></i>Select File</button>
</nz-upload>

<div class="modal-footer">
  <button nz-button type="button" (click)="del()">取消</button>
  <button nz-button type="button" (click)="handleUpload()">确认</button>
</div>
