<page-header title="应急管理系统" [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add()" *ngIf="isPermission('emergency-level:button:add', settingsService.app['identifiers'])" nz-button nzType="primary">
      新建
    </button>
  </ng-template>
</page-header>

<nz-card>
  <sf
    mode="search"
    *ngIf="isPermission('emergency-level:button:search', settingsService.app['identifiers'])"
    [schema]="searchSchema"
    (formSubmit)="st.reset($event)"
    (formReset)="st.reset($event)"
  ></sf>
  <st #st [bordered]="true" [data]="url" [req]="customRequest" [page]="customPage" [res]="customResponse" [columns]="columns"></st>
</nz-card>
