<page-header title="应急管理系统" [action]="phActionTpl">
  <ng-template #phActionTpl> </ng-template>
</page-header>

<nz-card>
  <sf
    mode="search"
    *ngIf="isPermission('system-log:button:search', settingsService.app['identifiers'])"
    [schema]="searchSchema"
    (formSubmit)="st.reset($event)"
    (formReset)="st.reset($event)"
  ></sf>
  <st
    #st
    [bordered]="true"
    [data]="url"
    [req]="logCustomRequest"
    [page]="customPage"
    [scroll]="{ x: '100%' }"
    [res]="customResponse"
    [columns]="columns"
  ></st>
</nz-card>
