<main>
  <div nz-col [nzSpan]="14">
    <!--  <nz-card>-->
    <sf #sf mode="search" [button]="null" [schema]="searchSchema" (formSubmit)="st.reset($event)"
        (formReset)="st.reset($event)">
      <button type="submit" nz-button nzType="primary" [disabled]="!sf.valid">搜索</button>
      <button (click)="reset()" type="button" nz-button>重置</button>
    </sf>
    <st #st [data]="url" [columns]="columns" (change)="permissionTableChange($event)" [res]="{ process: dataProcess }" [ps]='300'></st>
  </div>

  <div nz-col [nzSpan]="8">
    <app-volume-increase #increase></app-volume-increase>
  </div>

</main>
<style>
  main {
    display: flex;
  }

  main > div:nth-of-type(2) {
    margin-left: 5%;
    margin-top: 5%;
  }
</style>
