<page-header title='角色权限' [content]='content' >
<!--  <ng-template #breadcrumb>-->
<!--        <nz-breadcrumb>-->
<!--          <nz-breadcrumb-item><a>系统设置</a></nz-breadcrumb-item>-->
<!--          <nz-breadcrumb-item><a>用户授权</a></nz-breadcrumb-item>-->
<!--          <nz-breadcrumb-item><a>角色权限</a></nz-breadcrumb-item>-->
<!--        </nz-breadcrumb>-->
<!--  </ng-template>-->
  <ng-template #content>
    <p>将用户分配到各个角色中，用户即获得了该角色拥有的权限。角色采用层级结构，根级别为"最高权限"角色，上级角色将自动继承下级角色的权限</p>
  </ng-template>
</page-header>

<div nz-row [nzGutter]='24' class='content'>
  <div nz-col [nzSpan]='4'>
    <nz-card nzTitle='角色关系'>
      <nz-tree
        [nzData]='roleNodes'
        [nzAsyncData]="'true'"
        nzExpandAll='true'
        (nzClick)='roleEvent($event)'
        [nzTreeTemplate]='nzTreeTemplate'
      ></nz-tree>
      <ng-template #nzTreeTemplate let-node>
        <span class='custom-node' [class.active]='activeRoleNode?.key === node.key'>
          <span class='custom-node-item' *ngIf='!node.isLeaf'>
            <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" (click)='openFolder(node)'></i>
            <span class='folder-name'> {{ node.title }} </span>
            <span class='file-desc'>
              <a nz-dropdown [nzDropdownMenu]='roleOptMenu' nzTrigger='click'
              ><i nz-icon nzType='menu' (click)='optRole(node)' nzTheme='outline'></i
              ></a>
            </span>
          </span>
          <span class='custom-node-item' *ngIf='node.isLeaf'>
            <i nz-icon nzType='file'></i>
            <span class='file-name'>{{ node.title }}</span>
            <span class='file-desc'>
              <a nz-dropdown [nzDropdownMenu]='roleOptMenu' nzTrigger='click'
              ><i nz-icon nzType='menu' (click)='optRole(node)' nzTheme='outline'></i
              ></a>
            </span>
          </span>

          <nz-dropdown-menu #roleOptMenu>
            <ul nz-menu>
              <li nz-menu-item nzDisabled>编辑角色: {{ node.title }}</li>
              <li nz-menu-divider></li>
              <li nz-menu-item (click)="roleOperation('edit', node)"><i nz-icon nzType='edit'
                                                                        nzTheme='outline'></i>修改</li>
              <li nz-menu-item (click)="roleOperation('add', node)"><i nz-icon nzType='plus-circle'
                                                                       nzTheme='outline'></i>添加角色</li>
              <li nz-menu-item (click)="roleOperation('remove', node)"><i nz-icon nzType='delete' nzTheme='outline'></i>删除</li>
            </ul>
          </nz-dropdown-menu>
        </span>
      </ng-template>
    </nz-card>
  </div>

  <div nz-col [nzSpan]='20'>
    <!--    <div nz-row nzGutter="18">-->
    <nz-card [nzTitle]="'授权信息: ' + roleTitle">
      <nz-empty *ngIf='selectedRole == null' nzNotFoundContent='请先选择角色'></nz-empty>
      <nz-tabset *ngIf='selectedRole != null' [nzSelectedIndex]='index' (nzSelectChange)='nzSelectChange($event)'>
        <nz-tab nzTitle='功能权限' [nzForceRender]='true' >
          <app-setup-security-resource-menu-check [role]='selectedRole'></app-setup-security-resource-menu-check>
        </nz-tab>

        <nz-tab nzTitle='基础数据权限' [nzForceRender]='true'>
          <span class='app-title'>基础数据权限授权前请确认角色是否关联了人员、如果没有关联授权基础数据保存无效、数据范围权限是落到每个人上面的!</span>
          <app-setup-data-permissions [role]='selectedRole'></app-setup-data-permissions>
        </nz-tab>

        <nz-tab nzTitle='用户授权' [nzForceRender]='true'>
          <app-setup-user-permission #appUsePermission [role]='selectedRole'></app-setup-user-permission>
        </nz-tab>

        <nz-tab nzTitle='应用权限' [nzForceRender]='true'>
          <app-setup-app-permissions [role]='selectedRole'></app-setup-app-permissions>
        </nz-tab>


      </nz-tabset>
    </nz-card>
    <!--    </div>-->
  </div>
</div>
