:host ::ng-deep .ant-tree {
  overflow: hidden;
  margin: 0 -24px;
  padding: 0 24px;
}

// 样式修改
:host ::ng-deep .ant-tabs{
  display: flex!important;
}
:host ::ng-deep [_nghost-der-c389] .ant-tabs{
  display: flex!important;
}



:host ::ng-deep .ant-tree li {
  padding: 4px 0 0 0;
}

.custom-node {
  cursor: pointer;
  line-height: 24px;
  margin-left: 4px;
  //margin: 0 -1000px;
  //padding: 0 1000px;
  display: inline-block;
}

.custom-node:hover {
  background-color: #cccccc;
}

.custom-node:hover .file-desc {
  display: inline-block;
}
.custom-node:hover .folder-desc {
  display: inline-block;
}

.custom-node-item {
}

.active {
  //background: #1890ff;
  color: #1890ff;
  font-weight: bold;
}

.node-operation {
  color: #666666;
  display: inline-block;
  padding: 0 8px;
  display: block;
  line-height: 24px;
  position: relative;
  left: 12px;
}

.file-name,
.folder-name {
  margin-left: 4px;
}

.file-desc,
.folder-desc {
  padding: 0 8px;
  //background: #87ceff;
  //color: #ffffff;
  position: relative;
  left: 4px;
  display: none;
}

