<!--<div class="modal-header">-->
<!--  <div class="modal-title">编辑 {{ record.id }} 信息</div>-->
<!--</div>-->
<!--<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>-->
<!--<sf *ngIf="i" #sf mode="edit" [schema]="schema" [ui]="ui" [formData]="i" button="none">-->
<!--  <div class="modal-footer">-->
<!--    <button nz-button type="button" (click)="close()">关闭</button>-->
<!--    <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" [disabled]="!sf.valid" [nzLoading]="http.loading">保存</button>-->
<!--  </div>-->
<!--</sf>-->


<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-control [nzXs]="24">
      <div nz-col [nzSpan]="15">
        <nz-form-item nzFlex>
          <nz-form-label [nzFor]="'field'">班次类型</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input formControlName="category" />
            <nz-form-control *ngIf="false">班次类型名称必填选择*</nz-form-control>
          </nz-form-control>
        </nz-form-item>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngFor="let control of controlArray; let i = index">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzFor]="'field'">是否跨班</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select
            nzPlaceHolder="请选择是否跨班"
            [id]="'isAcross_' + control.id"
            [formControlName]="'isAcross_' + control.controlInstance"
          >
            <nz-option nzLabel="是" nzValue="true"></nz-option>
            <nz-option nzLabel="否" nzValue="false"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzFor]="'field'">开始时间</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzHasFeedback]="false">
          <!--            <nz-date-picker name="date-picker-success" [nzFormat]="timeFormat" formControlName="startDate"-->
          <!--                            [nzAllowClear]="false" style="width: 100%"></nz-date-picker>-->
          <nz-time-picker
            style="width: 100%"
            [nzAllowEmpty]="false"
            (ngModelChange)="startTimeValid($event, control.controlInstance, validateForm.value['isAcross_' + control.controlInstance])"
            [formControlName]="'startTime_' + control.controlInstance"
            [nzFormat]="timeFormat"
            [attr.id]="'startTime_' + control.id"
          ></nz-time-picker>
        </nz-form-control>
        <!--          <nz-form-control>-->
        <!--            <input nz-input placeholder="placeholder" [attr.id]="control.id" [formControlName]="control.controlInstance">-->
        <!--          </nz-form-control>-->
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="7">
      <nz-form-item>
        <nz-form-label [nzFor]="'field'">结束时间</nz-form-label>
        <!--          <nz-form-control [nzSpan]="12" [nzHasFeedback]="true"-->
        <!--                           *ngIf="validateForm.value['isAcross_'+control.controlInstance]=='false'"-->
        <!--                           [nzValidateStatus]="(validateForm.value['startTime_'+control.controlInstance]<validateForm.value['endTime_'+control.controlInstance])  ? 'success':'error'" >-->
        <!--            <nz-time-picker style="width: 100%" [nzAllowEmpty]="false"-->
        <!--                            [formControlName]="'endTime_'+control.controlInstance" nzHasFeedback-->
        <!--                            [nzFormat]="timeFormat" [attr.id]="'endTime_'+control.id"></nz-time-picker>-->
        <!--          </nz-form-control>-->

        <nz-form-control [nzSpan]="12" [nzHasFeedback]="false">
          <nz-time-picker
            style="width: 100%"
            [nzAllowEmpty]="false"
            (ngModelChange)="
              endTimeValid(
                $event,
                validateForm.value['startTime_' + control.controlInstance],
                validateForm.value['isAcross_' + control.controlInstance],
                control.controlInstance
              )
            "
            [formControlName]="'endTime_' + control.controlInstance"
            nzHasFeedback
            [nzFormat]="timeFormat"
            [attr.id]="'endTime_' + control.id"
          ></nz-time-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <i *ngIf="i != 0" nz-icon nzType="delete" nzTheme="outline" style="padding-top: 8px" (click)="removeField(control, $event)"></i>
    <nz-form-control
      *ngIf="
        getFormControl('isAcross_' + control.controlInstance)?.dirty &&
        getFormControl('isAcross_' + control.controlInstance)?.hasError('required')
      "
    >
      请填写完值！
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
      <button nz-button nzType="dashed" style="width: 60%" (click)="addField($event)">添加上班时间</button>
    </nz-form-control>
  </nz-form-item>
  <!--  <nz-form-item>-->
  <!--    <nz-form-control [nzXs]="{span:24,offset:0}" [nzSm]="{span:20,offset:4}">-->
  <!--      <button nz-button nzType="primary">Submit</button>-->
  <!--    </nz-form-control>-->
  <!--  </nz-form-item>-->
  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button
      nz-button
      type="submit"
      nzType="primary"
      (click)="submitForm()"
      [disabled]="!(validateForm.valid == true && validFormat == true)"
      [nzLoading]="http.loading"
    >
      保存
    </button>
  </div>
</form>
