<div class="classify">
  <div [ngClass]="{ 'classify-choose': !showClassify }" (click)="classifyChoose()">
    <img src="assets/img/edit-blue.png" *ngIf="showClassify" />
    <img src="assets/img/edit-white.png" *ngIf="!showClassify" />
    <span style="margin-left: 10px">最新处置措施</span>
  </div>
  <div [ngClass]="{ 'classify-choose': showClassify }" (click)="classifyChoose()">
    <img src="assets/img/edit-blue.png" *ngIf="!showClassify" />
    <img src="assets/img/edit-white.png" *ngIf="showClassify" />
    <span style="margin-left: 10px">应急全貌</span>
  </div>
</div>
