<div style="position:absolute">
    <button nz-button (click)="idxChange(0)">基本移动</button>
    <button nz-button (click)="idxChange(1)">视角动画</button>
    <button nz-button (click)="idxChange(2)">第一人称+重力</button>
</div>

<app-basic-move #basicMove [scene]="scene" [camera]="camera" [renderer]="renderer" [currentControls]="currentControls"  *ngIf="idx == 0"></app-basic-move>
<app-person-view #peronView [scene]="scene" [camera]="camera" [renderer]="renderer" [currentControls]="currentControls"  *ngIf="idx == 1" ></app-person-view>
<app-first-person #firstPerson [scene]="scene" [camera]="camera" [renderer]="renderer" [currentControls]="currentControls" (changeController)="changeController"  *ngIf="idx == 2"></app-first-person>