<div class="modal-header">
  <div class="modal-title">场景标签管理</div>
</div>
<div>
  <div>
    <nz-table #editRowTable [nzData]="listOfData" [nzShowPagination]="false" [nzScroll]="{ y: '640px' }" [nzFrontPagination]="false">
      <thead>
        <tr>
          <th nzWidth="50%">物资场景属性标签</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data">
          <td>
            <ng-container *ngIf="!editCache[data.id].edit; else nameInputTpl">
              {{ data.tagName }}
            </ng-container>
            <ng-template #nameInputTpl>
              <input type="text" placeholder="请输入标签名称" nz-input [(ngModel)]="editCache[data.id].data.tagName" />
            </ng-template>
          </td>
          <td>
            <div class="editable-row-operations">
              <ng-container *ngIf="!editCache[data.id].edit; else saveTpl">
                <a style="margin-right: 5px" nz-popconfirm nzPopconfirmTitle="确认删除吗?" (nzOnConfirm)="deleteRow(data.id)">删除</a>
                <a (click)="startEdit(data.id)">编辑</a>
              </ng-container>
              <ng-template #saveTpl>
                <a style="margin-right: 5px" (click)="saveEdit(data.id)">保存</a>
                <a nz-popconfirm nzPopconfirmTitle="确认取消吗?" (nzOnConfirm)="cancelEdit(data.id)">取消</a>
              </ng-template>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div>
      <img src="assets/img/icon-add-blue.png" />
      <span class="add-row" (click)="addRow()">添加</span>
    </div>
  </div>
</div>
