<div id="map">
  <!--  顶部数据-->
  <div class="top-header">
    <div class="top-header-left">
      <img src="assets/time.png" />
      <span style="margin-left: 10px">正在进行：{{ headData.underway }}</span>
      <img style="margin-left: 15px" src="assets/gou.png" />
      <span style="margin-left: 10px">今日完成：{{ headData.completedToday }}</span>
    </div>
    <div class="top-header-center">
      <img src="assets/lightning.png" />
      <span>应急GIS地图</span>
    </div>
    <div class="top-header-right">
      <span style="margin-right: 10px">天气</span>
      <img *ngIf="headData.weather == '多云'" src="assets/weather.png" />
      <img *ngIf="headData.weather == '霾'" src="assets/haze.png" />
      <img *ngIf="headData.weather == '小雨'" src="assets/light-rain.png" />
      <img *ngIf="headData.weather == '中雨'" src="assets/moderate-rain.png" />
      <img *ngIf="headData.weather == '阵雨'" src="assets/shower.png" />
      <img *ngIf="headData.weather == '晴'" src="assets/fair-weather.png" />
      <img *ngIf="headData.weather == '阴'" src="assets/cloudy-sky.png" />
      <span>{{ headData.temperature }}℃</span>
    </div>
  </div>
  <!--  顶部选择-->
  <div class="top-inquire" *ngIf="radioValue != 'emergencyPattern'">
    <div class="top-inquire-data" *ngIf="radioValue == 'goodsPattern'" style="margin-left: 20px">
      物资名称
      <nz-select
        nzShowSearch
        nzAllowClear
        [(ngModel)]="goodsName"
        (ngModelChange)="goodsNameChange()"
        nzPlaceHolder="请选择"
        style="width: 160px; margin-left: 18px"
      >
        <nz-option *ngFor="let item of goodsNameList" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
      </nz-select>
    </div>
    <div class="top-inquire-data" *ngIf="radioValue == 'goodsPattern'" style="margin-left: 285px">
      物资使用场景标签
      <nz-select
        [(ngModel)]="goodsAttribute"
        (ngModelChange)="goodsNameChange()"
        nzPlaceHolder="请选择"
        style="width: 160px; margin-left: 18px"
      >
        <nz-option *ngFor="let item of goodsAttributeList" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
      </nz-select>
    </div>
    <div class="top-inquire-data" *ngIf="radioValue == 'groupPattern'" style="margin-left: 20px">
      工班名称
      <nz-input-group [nzSuffix]="inputClearTpl" style="width: 160px; margin-left: 18px">
        <input [(ngModel)]="workShiftQueryForMap.name" nz-input placeholder="请输入" />
      </nz-input-group>
      <ng-template #inputClearTpl
        ><i
          nz-icon
          class="ant-input-clear-icon"
          nzTheme="fill"
          nzType="close-circle"
          *ngIf="workShiftQueryForMap.name"
          (click)="workShiftQueryForMap.name = null"
        ></i
      ></ng-template>
    </div>
    <div class="top-inquire-data" *ngIf="radioValue == 'groupPattern'" style="margin-left: 285px">
      班组长名称
      <nz-input-group [nzSuffix]="inputClearTpl" style="width: 160px; margin-left: 18px">
        <input [(ngModel)]="workShiftQueryForMap.leaderName" nz-input placeholder="请输入" />
      </nz-input-group>
      <ng-template #inputClearTpl
        ><i
          nz-icon
          class="ant-input-clear-icon"
          nzTheme="fill"
          nzType="close-circle"
          *ngIf="workShiftQueryForMap.leaderName"
          (click)="workShiftQueryForMap.leaderName = null"
        ></i
      ></ng-template>
    </div>
    <div class="top-inquire-data" *ngIf="radioValue == 'groupPattern'" style="margin-left: 565px">
      关联站点
      <nz-select
        [nzAllowClear]="true"
        [(ngModel)]="workStationChangeData"
        (ngModelChange)="workStationChange($event)"
        style="width: 160px; margin-left: 18px"
      >
        <nz-option *ngFor="let item of workStationlist" [nzValue]="item" [nzLabel]="item.name"></nz-option>
      </nz-select>
    </div>
    <div class="top-inquire-data" style="margin-left: 850px; min-width: 1000px">
      模式
      <nz-radio-group (ngModelChange)="patternChoose()" [(ngModel)]="radioValue" style="margin-left: 23px">
        <label nz-radio nzValue="emergencyPattern">应急模式</label>
        <label nz-radio nzValue="groupPattern">工班模式</label>
        <label nz-radio nzValue="goodsPattern">物资模式</label>
      </nz-radio-group>
    </div>
    <div class="top-inquire-data" style="margin-left: 1270px; height: 60px">
      <button
        (click)="openAddGroupDrawer()"
        *ngIf="radioValue == 'groupPattern'"
        style="border: 1px solid #1890ff; background: #e2f1ff; color: #1890ff; top: 50%; transform: translate(-50%, -50%)"
        class="top-inquire-data"
        nz-button
        nzType="primary"
      >
        新增
      </button>
      <button
        *ngIf="radioValue == 'groupPattern'"
        style="margin-left: 80px; top: 50%; transform: translate(-50%, -50%)"
        class="top-inquire-data"
        nz-button
        nzType="primary"
        (click)="getWorkShiftQuery()"
      >
        查询
      </button>
      <button
        *ngIf="radioValue == 'goodsPattern'"
        style="border: 1px solid #1890ff; background: #e2f1ff; color: #1890ff; top: 50%; transform: translate(-50%, -50%)"
        class="top-inquire-data"
        nz-button
        nzType="primary"
        (click)="searchGoods()"
      >
        查询
      </button>
      <button
        *ngIf="radioValue == 'goodsPattern'"
        style="margin-left: 80px; top: 50%; transform: translate(-50%, -50%)"
        class="top-inquire-data"
        nz-button
        nzType="primary"
        (click)="clearGoods()"
      >
        重置
      </button>
    </div>
  </div>
  <div class="punchCard" *ngIf="punchCard && radioValue == 'emergencyPattern'">
    <nz-radio-group [(ngModel)]="punchCardValue" style="line-height: 60px" (ngModelChange)="punchCardValueChange()">
      <label nz-radio nzValue="A">应急打卡</label>
      <label nz-radio nzValue="B">值守打卡</label>
      <label nz-radio nzValue="C">普通打卡</label>
    </nz-radio-group>
  </div>
  <!--  工班模式工班详情-->
  <div id="groupDetail" *ngIf="radioValue == 'groupPattern'" style="width: 530px">
    <h1 [ngStyle]="{ 'margin-top.px': 19, 'font-weight': 600, 'font-size.px': 20 }">工班详情</h1>
    <nz-divider></nz-divider>
    <nz-table #basicTable [nzData]="groupListOfData" [nzPageSize]="5">
      <thead>
        <tr>
          <th>工班名称</th>
          <th>班组长</th>
          <th>联系方式</th>
          <th>工班人数</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.leaderName }}</td>
          <td>{{ data.telPhoneNumber }}</td>
          <td>{{ data.employeeNumber }}</td>
          <td>
            <a (click)="openGroupDrawer(data)">详情</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzPopconfirmTitle="确定删除?" (nzOnConfirm)="workDelete(data.id)">删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <button type="button" style="float: right" nz-button nzType="primary" (click)="openAddGroupDrawer()"><span>新增</span></button>
  </div>
  <!--  应急模式应急事件详情-->
  <div class="left-drawer-data" *ngIf="emergencyEvents && radioValue == 'emergencyPattern'">
    <div class="left-drawer-data-title">{{ emergencyEventData.eventName }}</div>
    <div class="left-drawer-line" style="margin-top: 14px"></div>
    <div class="left-drawer-data-p">
      应急地点
      <div class="left-drawer-data-data">{{ emergencyEventData.siteName }}{{ emergencyEventData.areaName }}</div>
    </div>
    <div class="left-drawer-data-p">
      事件类型
      <span>{{ emergencyEventData.professionName }},{{ emergencyEventData.bigCategoryName }} ,{{ emergencyEventData.categoryName }}</span>
    </div>
    <div class="left-drawer-data-p">
      事件等级
      <div class="left-drawer-data-data">{{ emergencyEventData.levelName }}</div>
    </div>
    <div class="left-drawer-data-p">事件概况及处置要求</div>
    <div class="left-drawer-data-require">{{ emergencyEventData.overviewAndRequirements }}</div>
    <div class="inform-situation">
      <span>电话通知情况</span>
      <span style="margin-left: 37px">消息阅读情况</span>
      <span style="margin-left: 37px">人员签到情况</span>
      <!--      <span style='margin-left: 37px'>物资运输情况</span>-->
    </div>
    <div class="inform-situation-data">
      <div>{{ fullViewNumber.call }}/{{ fullViewNumber.notCall }}</div>
      <div style="margin-left: 37px">{{ fullViewNumber.read }}/{{ fullViewNumber.notRead }}</div>
      <div style="margin-left: 37px">{{ fullViewNumber.sign }}/{{ fullViewNumber.notSign }}</div>
      <!--      <div style='margin-left: 37px'>{{fullViewNumber.sign}}/{{fullViewNumber.notSign}}</div>-->
    </div>
    <div class="left-drawer-line" style="margin-top: 13px"></div>
    <div class="left-drawer-data-p">各部门到达情况</div>
    <div>
      <div class="label" *ngFor="let item of fullViewList">
        <div>{{ item.name }}</div>
        <div style="width: 300px; margin-left: 26px">
<!--          <g2-single-bar height="24" [value]="item.sign"></g2-single-bar>-->
        </div>
      </div>
    </div>
    <div class="left-drawer-line" style="margin-top: 13px"></div>
    <div class="left-drawer-data-p" style="margin-top: 14px">最新处置措施</div>
    <div style="width: 450px; height: 270px; margin-top: 16px; margin-left: 25px; overflow: scroll; overflow-x: hidden">
      <div class="left-drawer-data-require-one" *ngFor="let item of measureList">
        <div style="display: flex; align-items: center">
          <img style="width: 40px; height: 40px" src="{{ item.employeeAvatar }}" />
          <div style="display: inline-block; margin-left: 10px">
            <p style="margin: 0; height: 20px; line-height: 20px">{{ item.employeeName }}</p>
            <p style="margin: 0; height: 20px; line-height: 20px">{{ item.lastModifiedDate }}</p>
          </div>
        </div>
        <p style="margin: 10px 0; line-height: 20px">{{ item.description }}</p>
        <nz-image-group>
          <div style="width: 69px; height: 69px; display: inline-block" *ngFor="let item of item.resourceList">
            <img nz-image *ngIf="item != ''" style="width: 50px; height: 50px" nzSrc="{{ URL }}{{ item }}" />
          </div>
        </nz-image-group>
      </div>
    </div>
  </div>
  <!--  点击打开事件详情-->
  <div
    *ngIf="radioValue == 'emergencyPattern'"
    (click)="unfoldEmergencyEvents()"
    [ngClass]="{ 'left-drawer': emergencyEvents == false, 'left-drawer-show': emergencyEvents == true }"
  >
    <!--    <h1>〢</h1>-->
    <i nz-icon nzType="down" nzTheme="outline" [nzRotate]="emergencyEvents ? 90 : -90"></i>
  </div>
  <!--  右边模式选择-->
  <div class="right-drawer-data" *ngIf="pattern && radioValue == 'emergencyPattern'">
    <div class="right-drawer-data-p">
      值守中心
      <nz-select
        [nzDisabled]="isDisabled"
        [nzPlaceHolder]="watchOverCenterList[watchOverCenterList.length - 1].name"
        [(ngModel)]="watchOverCenterData"
        (ngModelChange)="watchOverCenterChange($event)"
        style="width: 190px; margin-left: 30px"
      >
        <nz-option *ngFor="let item of watchOverCenterList" [nzValue]="item" [nzLabel]="item.name"></nz-option>
      </nz-select>
    </div>
    <div class="right-drawer-data-p">
      打卡信息
      <nz-switch
        style="margin-left: 144px"
        [(ngModel)]="switchValue"
        (ngModelChange)="switchChange()"
        nzCheckedChildren="开"
        nzUnCheckedChildren="关"
      ></nz-switch>
    </div>
    <div class="right-drawer-data-p">
      事件
      <nz-select [ngModel]="incidentList[0]" (ngModelChange)="eventChange($event)" style="width: 190px; margin-left: 59px">
        <nz-option *ngFor="let item of incidentList" [nzValue]="item" [nzLabel]="item.eventName"></nz-option>
      </nz-select>
      <!--      <sf #sf mode="search" [button]="null" [schema]="searchSchema"> </sf>-->
    </div>
    <div class="right-drawer-data-p">
      模式
      <nz-radio-group (ngModelChange)="patternChoose()" [(ngModel)]="radioValue" style="margin-left: 59px; display: inline">
        <label nz-radio nzValue="emergencyPattern">应急模式</label>
        <label nz-radio nzValue="groupPattern">工班模式</label>
        <label nz-radio nzValue="goodsPattern" style="margin-left: 93px">物资模式</label>
      </nz-radio-group>
    </div>
  </div>
  <!--  打开右边模式选择-->
  <div
    *ngIf="radioValue == 'emergencyPattern'"
    (click)="unfoldPattern()"
    [ngClass]="{ 'right-drawer': pattern == false, 'right-drawer-show': pattern == true }"
  >
    <!--    〢-->
    <i nz-icon nzType="down" nzTheme="outline" [nzRotate]="pattern ? -90 : 90"></i>
  </div>
  <!--  图例-->
  <div *ngIf="radioValue != 'groupPattern'" [ngClass]="{ 'legend-one': emergencyEvents == false, 'legend-two': emergencyEvents == true }">
    <div class="legend" style="margin-top: 10px">图例</div>
    <div class="line" style="margin-top: 5px"></div>
    <div class="legend">
      <img src="assets/icon-substation.png" />
      <span style="margin-left: 10px">变电所</span>
    </div>
    <div class="legend">
      <img src="assets/icon-main-place.png" />
      <span style="margin-left: 10px">主所</span>
    </div>
    <div class="legend">
      <img src="assets/icon-control-center.png" />
      <span style="margin-left: 10px">控制中心</span>
    </div>
    <div class="legend">
      <img src="assets/icon-car-depot.png" />
      <span style="margin-left: 10px">车辆段</span>
    </div>
    <!--    <div class="line" style="margin-top: 17px"></div>-->
    <!--    <div class="legend">-->
    <!--      <img src="assets/icon-goods.png" />-->
    <!--      <span style="margin-left: 10px">物资大于5</span>-->
    <!--    </div>-->
    <!--    <div class="legend">-->
    <!--      <img src="assets/icon-goods4.png" />-->
    <!--      <span style="margin-left: 10px">物资3-5</span>-->
    <!--    </div>-->
    <!--    <div class="legend">-->
    <!--      <img src="assets/icon-goods2.png" />-->
    <!--      <span style="margin-left: 10px">物资1-2</span>-->
    <!--    </div>-->
    <!--    <div class="line" style="margin-top: 16px"></div>-->
    <!--    <div class="legend">-->
    <!--      <img src="assets/icon-work4.png" />-->
    <!--      <span style="margin-left: 10px">工班大于5</span>-->
    <!--    </div>-->
    <!--    <div class="legend">-->
    <!--      <img src="assets/icon-work2.png" />-->
    <!--      <span style="margin-left: 10px">工班3-5</span>-->
    <!--    </div>-->
    <!--    <div class="legend">-->
    <!--      <img src="assets/icon-work.png" />-->
    <!--      <span style="margin-left: 10px">工班1</span>-->
    <!--    </div>-->
  </div>
  <!--  打卡信息-->
  <div id="punchCard" *ngIf="radioValue == 'emergencyPattern'" style="width: 500px">
    <h3 [ngStyle]="{ margin: '16px 0' }" *ngIf="watchOverCenterData.name == '全部' && showList == false">
      {{ punchCardStationName }} 当前在岗人数：{{ punchCardPeople }}人
    </h3>
    <ul
      nz-list
      [nzDataSource]="watchOverCenterList"
      nzBordered
      nzSize="small"
      *ngIf="watchOverCenterData.name == '全部' && showList == false"
    >
      <li nz-list-item *ngFor="let item of watchOverCenterList" nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action *ngIf="item.name != '全部'">
            <a (click)="onClick(item)">></a>
          </nz-list-item-action>
        </ul>
        {{ item.name }}
      </li>
    </ul>
    <h3 [ngStyle]="{ margin: '16px 0' }" *ngIf="watchOverCenterData.name != '全部' || showList == true">
      {{ punchCardStationName }} 当前在岗人数：{{ StationPunchCardPeople }}人
    </h3>
    <div style="width: 500px; overflow: scroll; overflow-x: hidden" *ngIf="watchOverCenterData.name != '全部' || showList == true">
      <h3 (click)="back()"><{{ employeeDeptName }}</h3>
      <div class="left-drawer-data-require-one" *ngFor="let item of watchOverCenterDataList">
        <div style="display: flex; align-items: center">
          <img *ngIf="this.punchCardValue == 'A'" style="width: 40px; height: 40px" src="{{ item.employeeAvatar }}" />
          <img *ngIf="this.punchCardValue != 'A'" style="width: 40px; height: 40px" src="{{ item.avatar }}" />
          <div style="display: inline-block; margin-left: 10px">
            <p *ngIf="this.punchCardValue == 'A'" style="margin: 0; height: 20px; line-height: 20px">{{ item.employeeName }}</p>
            <p *ngIf="this.punchCardValue != 'A'" style="margin: 0; height: 20px; line-height: 20px">{{ item.name }}</p>
            <p *ngIf="this.punchCardValue == 'A'" style="margin: 0; height: 20px; line-height: 20px">{{ item.employeeDeptName }}</p>
            <p *ngIf="this.punchCardValue != 'A'" style="margin: 0; height: 20px; line-height: 20px">{{ item.position }}</p>
            <p style="margin: 0; height: 20px; line-height: 20px">{{ item.lastModifiedDate }}</p>
          </div>
        </div>
        <!--        <p style='margin: 10px 0;line-height: 20px;'>{{item.description}}</p>-->
        <!--        <div style='width: 69px;height: 69px;display: inline-block' *ngFor='let item of item.resourceList'>-->
        <!--          <img *ngIf="item != ''" style='width: 50px;height: 50px' src='{{URL}}{{item}}'>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
  <!--  物资详情抽屉-->
  <nz-drawer
    [nzClosable]="false"
    [nzOffsetX]="childrenVisible ? 180 : 0"
    [nzWidth]="600"
    [nzVisible]="visible"
    nzTitle="物资详情"
    (nzOnClose)="closeGoodsDrawer()"
  >
    <form nz-form>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>物资仓库</nz-form-label>
            <nz-form-control style="display: inline-block">
              <nz-select nzPlaceHolder="请选择" style="width: 160px; margin-left: 18px">
                <nz-option *ngFor="let item of goodsNameList" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-table #columnTable [nzData]="listOfData" [nzScroll]="{ x: '532px' }" [nzPageSize]="15">
              <thead>
                <tr>
                  <th nzWidth="100px">序号</th>
                  <th nzWidth="100px">物资名称</th>
                  <th nzWidth="100px">数量</th>
                  <th nzWidth="100px">保管人</th>
                  <th nzWidth="100px">联系方式</th>
                  <th nzWidth="100px" nzRight="0px">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of columnTable.data">
                  <td>{{ data.id }}</td>
                  <td>{{ data.name }}</td>
                  <td>{{ data.number }}</td>
                  <td>{{ data.keeper }}</td>
                  <td>{{ data.phone }}</td>
                  <td nzRight="0px" (click)="openChildren(data)">
                    <a>调配</a>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </nz-form-item>
        </div>
      </div>
    </form>
    <nz-drawer [nzWidth]="470" [nzClosable]="false" [nzVisible]="childrenVisible" nzTitle="调配" (nzOnClose)="closeChildren()">
      <form nz-form>
        <nz-descriptions [nzColumn]="2">
          <nz-descriptions-item nzTitle="已选物资">{{ deployData.name }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="物资库存">{{ deployData.number }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="保管人员">{{ deployData.keeper }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="联系电话">{{ deployData.phone }}</nz-descriptions-item>
        </nz-descriptions>
        <nz-divider></nz-divider>
        <h3 [ngStyle]="{ 'margin-bottom.px': 16 }">调配设置</h3>
        <div *ngFor="let i of login; let j = index">
          <nz-form-item>
            <div>
              <nz-form-label>调配数量</nz-form-label>
              <nz-form-control style="margin-left: 22px; display: inline-block">
                <nz-input-number
                  (ngModelChange)="onChangeNumber()"
                  [(ngModel)]="i.deployNumber"
                  name="{{ j }}"
                  nzPlaceHolder="请输入"
                  [nzMin]="0"
                  [nzMax]="100"
                  [nzStep]="1"
                ></nz-input-number>
                <i style="margin-left: 215px; font-size: large" nz-icon nzType="delete" nzTheme="fill" (click)="removeDeploy(i)"></i>
              </nz-form-control>
            </div>
            <div>
              <nz-form-label>调配目的地</nz-form-label>
              <nz-form-control style="margin-left: -10px; display: inline-block">
                <nz-select name="deployPlace" nzPlaceHolder="请选择" style="width: 160px; margin-left: 18px">
                  <nz-option *ngFor="let item of goodsList" [nzValue]="item" [nzLabel]="item.name"></nz-option>
                </nz-select>
              </nz-form-control>
            </div>
          </nz-form-item>
          <nz-divider></nz-divider>
        </div>
        <div (click)="addDeploy()" style="color: #2c99ff; font-size: 14px; font-weight: 400">
          <i nz-icon nzType="plus" nzTheme="outline"></i>
          新增
        </div>
        <h3 [ngStyle]="{ 'margin-top.px': 27 }">调配要求</h3>
        <textarea nz-input rows="5" placeholder="请输入调配要求"></textarea>
        <h3 [ngStyle]="{ 'margin-top.px': 13 }">调配总量</h3>
        <input nz-input name="allDeploy" [(ngModel)]="allDeploy" [disabled]="true" style="width: 70px" />
      </form>
      <div class="footer">
        <button type="button" (click)="closeChildren()" class="ant-btn" style="margin-right: 8px"><span>取消</span></button>
        <button type="button" (click)="closeChildren()" class="ant-btn ant-btn-primary"><span>发起调配</span></button>
      </div>
    </nz-drawer>
  </nz-drawer>
  <!--工班详情抽屉-->
  <nz-drawer [nzClosable]="false" [nzWidth]="600" [nzVisible]="groupVisible" nzTitle="工班详情" (nzOnClose)="closeGroupDrawer()">
    <h1 [ngStyle]="{ 'font-weight': 600, 'font-size.px': 16 }">工班名称：{{ groupData.name }}</h1>
    <nz-descriptions [nzColumn]="2">
      <nz-descriptions-item nzTitle="工班长">{{ groupData.leaderName }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="电话">{{ groupData.telPhoneNumber }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="手台号">{{ groupData.talkieId }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="座机号">{{ groupData.phoneNumber }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="详细位置"><img src="assets/img/place.png" />{{ groupData.detailAddress }} </nz-descriptions-item>
    </nz-descriptions>
    <nz-divider></nz-divider>
    <h1 [ngStyle]="{ 'font-weight': 400, 'font-size.px': 16 }">
      人数 {{ groupData.employeeNumber }}人
      <div style="float: right; color: #2c99ff" (click)="openAndClose()">
        收起明细
        <i nz-icon nzType="left" nzTheme="outline" [nzRotate]="nzActive ? -90 : 90"></i>
      </div>
    </h1>
    <nz-table *ngIf="nzActive" #basicTable [nzData]="workShiftPeople" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>姓名</th>
          <th>岗位</th>
          <th>联系方式</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.position }}</td>
          <td>{{ data.phoneNumber }}</td>
        </tr>
      </tbody>
    </nz-table>
    <h3 [ngStyle]="{ 'margin-top.px': 11, 'font-weight': 500, 'font-size.px': 16 }">备注</h3>
    <textarea
      style="background: #f8f8f8; border-radius: 6px"
      readonly
      nz-input
      rows="5"
      placeholder="暂无备注"
      [(ngModel)]="groupData.remark"
    ></textarea>
    <h3 [ngStyle]="{ 'margin-top.px': 11, 'font-weight': 500, 'font-size.px': 16 }">关联地点</h3>
    <nz-divider style="margin: 10px 0"></nz-divider>
    <h3 [ngStyle]="{ 'margin-top.px': 11, 'font-weight': 400, 'font-size.px': 16, color: '#999999' }">{{ groupData.stationName }}</h3>
    <h3 [ngStyle]="{ 'margin-top.px': 27, 'font-weight': 500, 'font-size.px': 16 }">更新时间</h3>
    <nz-divider style="margin: 10px 0"></nz-divider>
    <h3 [ngStyle]="{ 'margin-top.px': 11, 'font-weight': 400, 'font-size.px': 16, color: '#999999' }">{{ nowDate }}</h3>
    <h3 [ngStyle]="{ 'margin-top.px': 27, 'font-weight': 500, 'font-size.px': 16 }">更新人</h3>
    <nz-divider style="margin: 10px 0"></nz-divider>
    <h3 [ngStyle]="{ 'margin-top.px': 11, 'font-weight': 400, 'font-size.px': 16, color: '#999999' }">
      <nz-avatar nzIcon="user" style="background-color: #4c83e5"></nz-avatar>
      {{ groupData.updateUserName }}
    </h3>
    <div style="height: 30px; width: 100%"></div>
    <div class="footer">
      <button type="button" (click)="closeGroupDrawer()" class="ant-btn" style="margin-right: 8px"><span>取消</span></button>
      <button type="button" (click)="closeGroupDrawer()" class="ant-btn ant-btn-primary"><span>确定</span></button>
    </div>
  </nz-drawer>

  <!--工班新增抽屉-->
  <nz-drawer [nzClosable]="false" [nzWidth]="600" [nzVisible]="addGroupVisible" nzTitle="工班新增" (nzOnClose)="closeAddGroupDrawer()">
    <div class="watch-div">
      <span class="watch-span">工班名称</span>
      <input nz-input class="watch-input" placeholder="请输入" [(ngModel)]="workShiftVo.name" />
    </div>
    <div class="watch-div">
      <span class="watch-span">工班长</span>
      <a (click)="addLeader()"><input nz-input class="watch-input" placeholder="请输入" disabled [(ngModel)]="workShiftVo.leaderName" /></a>
      <span class="watch-span" style="margin-left: 20px">电话</span>
      <input nz-input class="watch-input" placeholder="请输入" [(ngModel)]="workShiftVo.phoneNumber" />
    </div>
    <div class="watch-div">
      <span class="watch-span">手台号</span>
      <input nz-input class="watch-input" placeholder="请输入" [(ngModel)]="workShiftVo.talkieId" />
      <span class="watch-span" style="margin-left: 20px">座机号</span>
      <input nz-input class="watch-input" placeholder="请输入" [(ngModel)]="workShiftVo.telPhoneNumber" />
    </div>
    <div class="watch-div">
      <span class="watch-span">详细位置</span>
      <img src="assets/img/place.png" />
      <input nz-input class="watch-input" placeholder="请输入" [(ngModel)]="workShiftVo.detailAddress" />
    </div>
    <nz-divider></nz-divider>
    <h1 [ngStyle]="{ 'font-weight': 400, 'font-size.px': 16 }">
      人数 {{ workShiftVo.workShiftPeople.length }}人
      <div style="float: right; color: #2c99ff" (click)="openAndClose()">
        收起明细
        <i nz-icon nzType="left" nzTheme="outline" [nzRotate]="nzActive ? -90 : 90"></i>
      </div>
    </h1>
    <button nz-button (click)="addUser()" nzType="primary">添加</button>
    <nz-table [nzPageSize]="5" *ngIf="nzActive" #editRowTable nzBordered [nzData]="workShiftVo.workShiftPeople">
      <thead>
        <tr>
          <th>姓名</th>
          <th>头像</th>
          <th>单位名称</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data; let i = index" class="editable-row">
          <td>
            <div class="editable-cell">
              <div class="editable-cell-value-wrap">
                {{ data.name }}
              </div>
            </div>
          </td>
          <td>
            <div class="editable-cell">
              <div class="editable-cell-value-wrap">
                <img style="width: 20px; height: 20px" src="{{ data.avatar }}" />
              </div>
            </div>
          </td>
          <td>
            <div class="editable-cell">
              <div class="editable-cell-value-wrap">
                {{ data.companyName }}
              </div>
            </div>
          </td>
          <td>
            <a nz-popconfirm nzPopconfirmTitle="确定删除?" (nzOnConfirm)="userDelete(i, data.thirdPartyId)">删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <h3 [ngStyle]="{ 'margin-top.px': 11, 'font-weight': 500, 'font-size.px': 16 }">备注</h3>
    <textarea
      style="background: #f8f8f8; border-radius: 6px"
      nz-input
      rows="5"
      placeholder="暂无备注"
      [(ngModel)]="workShiftVo.remark"
    ></textarea>
    <h3 [ngStyle]="{ 'margin-top.px': 11, 'font-weight': 500, 'font-size.px': 16 }">关联地点</h3>
    <nz-divider style="margin: 10px 0"></nz-divider>
    <h3 [ngStyle]="{ 'margin-top.px': 11, 'font-weight': 400, 'font-size.px': 16, color: '#999999' }">
      <sf #sf3 mode="search" [button]="null" [schema]="drawerSearchSchema"></sf>
    </h3>
    <h3 [ngStyle]="{ 'margin-top.px': 27, 'font-weight': 500, 'font-size.px': 16 }">更新时间</h3>
    <nz-divider style="margin: 10px 0"></nz-divider>
    <h3 [ngStyle]="{ 'margin-top.px': 11, 'font-weight': 400, 'font-size.px': 16, color: '#999999' }">{{ nowDate }}</h3>
    <h3 [ngStyle]="{ 'margin-top.px': 27, 'font-weight': 500, 'font-size.px': 16 }">更新人</h3>
    <nz-divider style="margin: 10px 0"></nz-divider>
    <h3 [ngStyle]="{ 'margin-top.px': 11, 'font-weight': 400, 'font-size.px': 16, color: '#999999' }">
      <nz-avatar nzIcon="user" style="background-color: #4c83e5" nzSrc="{{ avatar }}"></nz-avatar>
      {{ workShiftVo.updateUserName }}
    </h3>
    <div class="footer">
      <button type="button" (click)="closeAddGroupDrawer()" class="ant-btn" style="margin-right: 8px"><span>取消</span></button>
      <button type="button" (click)="addWorkShift()" class="ant-btn ant-btn-primary"><span>确定</span></button>
    </div>
    <div style="height: 30px"></div>
  </nz-drawer>

  <!-- 物资-->
  <nz-drawer
    [nzWidth]="800"
    [nzClosable]="false"
    [nzVisible]="goodsVisible"
    nzPlacement="right"
    nzTitle="应急仓库详情"
    (nzOnClose)="goodsCloseDrawer('goodsVisible')"
  >
    <ng-container *nzDrawerContent>
      <div class="tab">
        <img (click)="idxChange('add')" src="assets/left.png" />
        <div class="main">
          <div class="container">
            <div class="item" (click)="tabsItemClick(idx)" *ngFor="let item of tabs; let idx = index">
              <span [ngClass]="spanStyleChecked(idx)">{{ item.name }}</span>
              <img *ngIf="item.haveSupplies" src="assets/hasSearch.png" />
            </div>
          </div>
        </div>
        <img (click)="idxChange('del')" src="assets/right.png" />
      </div>
      <nz-table #borderedTable nzBordered [nzData]="woreHouseDetailData" [nzFrontPagination]="'false'">
        <thead>
          <tr>
            <th>序号</th>
            <th>场景标签</th>
            <th>物资名称</th>
            <th>规格型号</th>
            <th>数量</th>
            <th>保管人</th>
            <th>联系方式</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of borderedTable.data; let idx = index">
            <td>{{ idx + 1 }}</td>
            <td>{{ data.suppliesScenes }}</td>
            <td>{{ data.matName }}</td>
            <td>{{ data.matSpec }}</td>
            <td>{{ data.totalNum }}</td>
            <td>{{data.keeper.employeeName}}</td>
            <td>{{data.keeper.mobile}}</td>
            <td>
              <a (click)="deployment(data, idx)">调配</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div style="text-align: right">
        <nz-pagination (nzPageSizeChange)="pageChange($event)" [nzPageIndex]="totalPage" [nzTotal]="totalPageSize"></nz-pagination>
      </div>
      <nz-drawer
        style="position: relative"
        [nzClosable]="false"
        [nzWidth]="600"
        [nzVisible]="goodsChildrenVisible"
        nzTitle="调配"
        (nzOnClose)="goodsCloseDrawer('goodsChildrenVisible')"
      >
        <div class="drawerMain">
          <div>
            <div *ngFor="let item of deploymentList; let idx = index">
              <span>{{ item.title }}</span>
              <span>{{ item.val }}</span>
            </div>
          </div>
          <div>
            <p>调配设置</p>
            <div>
              <div class='container'>
                <div class="item">
                  <span>选择应急事件</span>
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择应急事件" [(ngModel)]="selectEvent">
                    <nz-option *ngFor="let item of onGoingEventList"  [nzValue]="item" [nzLabel]="item.eventName"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div class="container" *ngFor="let item of provisioningSettings; let idx = index">
                <div class="item">
                  <span>调配数量</span>
                  <nz-input-number (ngModelChange)="calculateTotal()" [(ngModel)]="item.count" [nzMin]="0"></nz-input-number>
                </div>
                <div class="item">
                  <span>调配目的地</span>
                  <nz-select [(ngModel)]="item.warehouseId">
                    <nz-option *ngFor="let item of aimList" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
                  </nz-select>
                </div>
                <div class="item">
                  <span>备注</span>
                  <textarea rows="4" placeholder="'请输入'" nz-input [(ngModel)]="item.remark"></textarea>
                </div>
                <img [ngClass]="delShow()" (click)="delProvision(idx)" class="img" src="assets/del.png" />
              </div>
              <div (click)="newProvision()" class="new">
                <img src="assets/new.png" />
                <span>新增</span>
              </div>
            </div>
          </div>
          <div>
            <p>调配总量</p>
            <div>{{ totalProvisioningCount }}</div>
          </div>
        </div>
        <div class="operation">
          <button (click)="delGoodsChildrenVisible()" nz-button>取消</button>
          <button (click)="initiateDeployment()" nz-button [nzType]="'primary'">发起调配</button>
        </div>
      </nz-drawer>
    </ng-container>
  </nz-drawer>
</div>

<style>
  #map {
    height: 1000px;
    margin-top: 80px;
    overflow-x: scroll;
  }

  .top-header {
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px 6px 0px 0px;
    position: absolute;
    z-index: 1;
    line-height: 60px;
  }

  .top-header-left {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin-left: 28px;
  }

  .top-header-center {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #ffffff;
    font-weight: normal;
  }

  .top-header-right {
    display: inline-block;
    float: right;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin-right: 28px;
  }

  img {
    margin-top: -3px;
  }

  .left-drawer {
    z-index: 1;
    margin-top: 60px;
    width: 40px;
    height: 940px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 8px 6px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 6px;
    position: absolute;
    text-align: center;
    color: #666666;
    font-size: xx-large;
    line-height: 940px;
  }

  .left-drawer-show {
    z-index: 1;
    margin-top: 60px;
    margin-left: 500px;
    width: 40px;
    height: 940px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 8px 6px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 6px;
    position: absolute;
    text-align: center;
    color: #666666;
    font-size: xx-large;
    line-height: 940px;
  }

  .left-drawer-data {
    z-index: 1;
    margin-top: 60px;
    width: 500px;
    height: 940px;
    position: absolute;
    background: rgba(255, 255, 255, 0.92);
    box-shadow: 8px 6px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 6px;
  }

  .right-drawer-data {
    z-index: 1;
    width: 320px;
    height: 233px;
    background: #ffffff;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    position: absolute;
    margin-right: 10px;
    right: 10px;
    margin-top: 70px;
  }

  .right-drawer {
    z-index: 1;
    margin-top: 70px;
    width: 50px;
    height: 233px;
    background: #3c71d3;
    border-radius: 6px 0px 0px 6px;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-size: xx-large;
    line-height: 233px;
    right: 10px;
  }

  .right-drawer-show {
    z-index: 1;
    margin-top: 70px;
    width: 50px;
    height: 233px;
    background: #3c71d3;
    border-radius: 6px 0px 0px 6px;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-size: xx-large;
    line-height: 233px;
    right: 330px;
  }

  .legend-one {
    width: 120px;
    height: 140px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    z-index: 1;
    position: absolute;
    left: 53px;
    bottom: 10px;
  }

  .legend-two {
    width: 120px;
    height: 329px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    z-index: 1;
    position: absolute;
    left: 555px;
    bottom: 10px;
  }

  .line {
    width: 98px;
    height: 1px;
    border: 1px solid #979797;
    margin-left: 17px;
  }

  .legend {
    margin-left: 17px;
    font-size: 10px;
    font-weight: 400;
    color: #ffffff;
    line-height: 18px;
    margin-top: 5px;
  }

  .left-drawer-data-title {
    height: 22px;
    font-size: 20px;
    font-weight: 600;
    color: #222222;
    line-height: 22px;
    margin-left: 17px;
    margin-top: 18px;
  }

  .left-drawer-line {
    width: 459px;
    height: 1px;
    border: 1px solid #eeeeee;
    margin-left: 21px;
  }

  .left-drawer-data-p {
    /*width: 400px;*/
    height: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #222222;
    line-height: 18px;
    margin-top: 16px;
    margin-left: 28px;
  }

  .left-drawer-data-p span {
    width: 100px;
    height: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    line-height: 20px;
    margin-left: 32px;
  }

  .left-drawer-data-data {
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    line-height: 20px;
    margin-left: 32px;
    background: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #dddddd;
    display: inline-block;
  }

  .left-drawer-data-require {
    width: 448px;
    background: #f8f8f8;
    border-radius: 6px;
    border: 1px solid #cccccc;
    font-size: 16px;
    color: #222222;
    margin-top: 16px;
    margin-left: 25px;
    font-weight: 400;
    line-height: 40px;
    padding: 14px 14px;
  }

  .left-drawer-data-require-one {
    width: 430px;
    background: #f8f8f8;
    border-radius: 6px;
    border: 1px solid #cccccc;
    font-size: 16px;
    color: #222222;
    margin-top: 16px;
    font-weight: 400;
    line-height: 40px;
    padding: 14px 14px;
  }

  .inform-situation {
    width: 448px;
    height: 24px;
    line-height: 24px;
    margin-top: 16px;
    margin-left: 25px;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
  }

  .inform-situation-data {
    width: 448px;
    height: 24px;
    line-height: 24px;
    margin-top: 6px;
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
  }

  .inform-situation-data div {
    width: 84px;
    display: inline-block;
  }

  .label {
    height: 24px;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    line-height: 17px;
    margin-left: 29px;
    margin-top: 15px;
    display: flex;
    align-items: center;
  }

  .right-drawer-data-p {
    width: 300px;
    height: 32px;
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 32px;
    margin-top: 18px;
    margin-left: 20px;
  }

  .right-drawer-data-p span {
    width: 100px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 20px;
    margin-left: 32px;
  }

  .top-inquire {
    width: 100%;
    height: 60px;
    background: #ffffff;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 6px 6px;
    position: absolute;
    margin-top: 60px;
    line-height: 60px;
    z-index: 1;
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
  }

  .top-inquire-data {
    display: inline-block;
    position: absolute;
  }

  .footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    text-align: right;
    left: 0px;
    background: #fff;
  }

  .watch-span {
    width: 64px;
    height: 18px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 18px;
  }

  .watch-input {
    width: 170px;
    margin-left: 20px;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #dddddd;
  }

  .watch-div {
    margin-bottom: 20px;
  }

  .watch-input-one {
    width: 170px;
    background: #ffffff;
    border-radius: 4px;
  }

  .amap-info-close {
    display: none;
  }

  .punchCard {
    margin-top: 70px;
    margin-left: 650px;
    width: 353px;
    height: 50px;
    background: #ffffff;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    text-align: center;
  }
</style>
