<page-header title="岗位权限" [content]="content" [breadcrumb]="breadcrumb">
  <ng-template #breadcrumb>
  </ng-template>
  <ng-template #content>
    <p>将用户分配到各个岗位中，岗位跟角色绑定、用户就获取了对应岗位下所有角色的功能权限</p>
  </ng-template>
</page-header>

<div nz-row [nzGutter]="18">
  <div nz-col [nzSpan]="4" style="position: relative;">
    <nz-card nzTitle="岗位关系">
      <nz-tree
        [nzData]="postNodes"
        [nzAsyncData]="'true'"
        nzExpandAll="true"
        nzShowLine
        (nzClick)="postEvent($event)"
        [nzTreeTemplate]="nzTreeTemplate"
      ></nz-tree>
      <ng-template #nzTreeTemplate let-node>
        <span class="custom-node" [class.active]="activeRoleNode?.key === node.key">
          <span class="custom-node-item" *ngIf="!node.isLeaf">
            <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></i>
            <span class="folder-name"> {{ node.title }} </span>
            <span class="file-desc">
              <a nz-dropdown [nzDropdownMenu]="roleOptMenu" nzTrigger="click"
              ><i nz-icon nzType="menu" (click)="optRole(node)" nzTheme="outline"></i
              ></a>
            </span>
          </span>
          <span class="custom-node-item" *ngIf="node.isLeaf">
            <i nz-icon nzType="file"></i>
            <span class="file-name">{{ node.title }}</span>
            <span class="file-desc">
              <a nz-dropdown [nzDropdownMenu]="roleOptMenu" nzTrigger="click" nzPlacement="bottomLeft" nzStopPropagation>
                 <i nz-icon nzType="menu" (click)="optRole(node)" nzTheme="outline"></i>
              </a>
            </span>
          </span>

          <nz-dropdown-menu #roleOptMenu>
            <ul nz-menu>
              <li nz-menu-item nzDisabled>编辑岗位: {{ node.title }}</li>
              <li nz-menu-divider></li>
              <li nz-menu-item (click)="postOperation('edit', node)"><i nz-icon nzType="edit"
                                                                        nzTheme="outline"></i>修改</li>
              <li nz-menu-item (click)="postOperation('add', node)"><i nz-icon nzType="plus-circle"
                                                                       nzTheme="outline"></i>添加岗位</li>
              <li nz-menu-item (click)="postOperation('remove', node)"><i nz-icon nzType="delete" nzTheme="outline"></i>删除</li>
            </ul>
          </nz-dropdown-menu>
        </span>
      </ng-template>
    </nz-card>
  </div>

  <div nz-col [nzSpan]=20>
    <div class="card-container" style="padding: 1rem; border: 1px solid #e8e8e8; border-radius: 4px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);">
      <nz-empty *ngIf="selectedPost == null" nzNotFoundContent="请先选择角色"></nz-empty>
      <nz-tabset nzType="card" *ngIf="selectedPost != null" [nzSelectedIndex]="index" (nzSelectChange)="nzSelectChange($event)">
        <nz-tab nzTitle="岗位-角色-绑定" >
          <app-setup-post-bind-role #postAndRoleBind [post]="selectedPost"></app-setup-post-bind-role>
        </nz-tab>

        <nz-tab nzTitle="岗位-用户-绑定" >
          <app-setup-post-bind-user #appUsePermission [post]="selectedPost" #permission  ></app-setup-post-bind-user>
        </nz-tab>
      </nz-tabset>
    </div>

  </div>

</div>
