<div class="modal-header">
  <div class="modal-title">编辑信息</div>
</div>

<ng-container style="height: 500px; overflow-y: auto">
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="14" style="max-width: 400px; border-right: 1px #cccccc solid">
      <!--<nz-card>-->
      <div *ngIf="orgTreeLoading" class="load-more">
        <nz-spin nzSimple></nz-spin>
      </div>
      <nz-input-group [nzSuffix]="suffixIconSearch" style="width: 100%">
        <input
          type="text"
          nz-input
          [(ngModel)]="searchValue"
          (change)="globalSearch($event)"
          placeholder="搜索组织、成员、岗位、职务、标签"
        />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>

      <nz-tabset [nzSize]="'small'" *ngIf="!showSearchResult">
        <nz-tab nzTitle="组织" *ngIf="organizationTab">
          <nz-tree
            [nzData]="orgNodes"
            [nzAsyncData]="'true'"
            (nzExpandChange)="orgEvent($event)"
            (nzClick)="orgEvent($event)"
            (nzDblClick)="orgEvent($event)"
            [nzTreeTemplate]="nzTreeTemplate"
          ></nz-tree>
          <ng-template #nzTreeTemplate let-node>
            <span class="custom-node" [class.active]="activedNode?.key === node.key">
              <span class="custom-node-item" *ngIf="!node.isLeaf">
                <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"></i>
                <span class="folder-name" style="margin-left: 5px; margin-right: 10px">
                  {{ node.title }}
                  <i nz-icon nzType="check" nzTheme="outline" *ngIf="node.origin.checked"></i>
                </span>
              </span>
              <span class="custom-node-item" *ngIf="node.isLeaf">
                <i nz-icon nzType="user" *ngIf="node.origin.category == 'employee'"></i>
                <i nz-icon nzType="file" *ngIf="node.origin.category != 'employee'"></i>
                <span class="file-name" style="margin-left: 5px; margin-right: 10px">
                  {{ node.title }}
                  <i nz-icon nzType="check" nzTheme="outline" *ngIf="node.origin.checked"></i>
                </span>
              </span>
            </span>
          </ng-template>
        </nz-tab>

        <nz-tab nzTitle="角色" *ngIf="postTab">
          <nz-tree
            [nzData]="postNodes"
            [nzAsyncData]="'true'"
            (nzExpandChange)="postEvent($event)"
            (nzDblClick)="postEvent($event)"
            (nzClick)="postEvent($event)"
            [nzTreeTemplate]="nzPostTreeTemplate"
          >
          </nz-tree>
          <ng-template #nzPostTreeTemplate let-node>
            <span class="custom-node" [class.active]="activedPostNode?.key === node.key">
              <span class="custom-node-item" *ngIf="!node.isLeaf">
                <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"></i>
                <span class="folder-name"> {{ node.title }} </span>
              </span>
              <span class="custom-node-item" *ngIf="node.isLeaf">
                <i nz-icon nzType="file"></i>
                <span class="file-name">{{ node.title }}</span>
              </span>
            </span>
          </ng-template>
        </nz-tab>

        <nz-tab nzTitle="职务" *ngIf="jobTab">
          <nz-tree [nzData]="jobsNodes" (nzClick)="jobEvent($event)" [nzTreeTemplate]="nzJobTreeTemplate"> </nz-tree>
          <ng-template #nzJobTreeTemplate let-node>
            <span class="custom-node" [class.active]="activedJobNode?.key === node.key">
              <span class="custom-node-item" *ngIf="!node.isLeaf">
                <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"></i>
                <span class="folder-name"> {{ node.title }} </span>
              </span>
              <span class="custom-node-item" *ngIf="node.isLeaf">
                <i nz-icon nzType="file"></i>
                <span class="file-name">{{ node.title }}</span>
              </span>
            </span>
          </ng-template>
        </nz-tab>

        <nz-tab nzTitle="标签" *ngIf="tagTab">
          <ul nz-list [nzDataSource]="tagList" nzBordered nzSize="small" [nzFooter]="tagHeader" [nzRenderItem]="defaultItem">
            <ng-template #defaultItem let-item>
              <li nz-list-item (click)="activeTag(item)" [nzActions]="[opAction]" [nzContent]="item.name" nzNoFlex></li>
              <ng-template #opAction>
                <!--<a (click)="editTag(item)"><i nz-icon nzType="edit" nzTheme="twotone"></i></a>-->
                <!--<span>&nbsp;&nbsp;</span>-->
                <!--<a (click)="removeTag(item)"><i nz-icon nzType="delete" nzTheme="twotone"></i></a>-->
              </ng-template>
            </ng-template>
            <ng-template #tagHeader> </ng-template>
          </ul>
        </nz-tab>
      </nz-tabset>

      <div *ngIf="showSearchResult">
        <nz-collapse [nzBordered]="false">
          <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active">
            <p *ngFor="let item of panel.childPanel" (click)="optSearchResult(item)">{{ item.companyName }} {{ item.name }}</p>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </div>

    <div nz-col nzSpan="10" style="padding-left: 20px">
      <p>已选择的部门、成员、岗位、职务或标签</p>
      <div *ngFor="let item of selectedItems" style="display: flex; justify-content: space-between; margin-bottom: 10px">
        <div>
          <i nz-icon *ngIf="item.category == 'organization'" nzType="folder" nzTheme="outline"></i>
          <i nz-icon *ngIf="item.category == 'employee'" nzType="user" nzTheme="outline"></i>
          <i nz-icon *ngIf="item.category == 'tag'" nzType="tag" nzTheme="outline"></i>
          <i nz-icon *ngIf="item.category == 'post'" nzType="audit" nzTheme="outline"></i>
          <i nz-icon *ngIf="item.category == 'job'" nzType="block" nzTheme="outline"></i>
          <span style="margin-left: 5px">{{ item.companyName }} {{ item.name }}</span>
        </div>
        <div><i nz-icon nzType="close" nzTheme="outline" (click)="removeSelectedItem(item)"></i></div>
      </div>
    </div>
  </div>
</ng-container>

<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button type="submit" nzType="primary" (click)="save()" [nzLoading]="http.loading">保存</button>
</div>
