<nz-card>
  <p class="ongoing-title">应急物资管理</p>
  <nz-divider></nz-divider>
  <div class="point-set">
    <div>
      <sf #sf mode="search" [button]="null" [schema]="searchSchema"> </sf>
    </div>
    <div>
      <button type="button" nz-button nzType="primary" (click)="fromSearch()">查询</button>
      <button type="default" nz-button (click)="resetSearch()">重置</button>
      <button type="button" nz-button nzType="primary"(click)="newGood()">新建</button>
    </div>
  </div>
</nz-card>
<nz-card>
  <div class="goods-btn">
    <span class="goods-tag" (click)="openSceneTag()">场景标签管理</span>
    <!--    <span class="warehouse" (click)="openStore()">配置仓库信息</span>-->
  </div>
  <st
    #st
    [widthMode]="{ type: 'strict' }"
    [data]="url"
    [req]="customRequest"
    [page]="customPage"
    [res]="customResponse"
    [columns]="columns"
    [responsive]="false"
    [bordered]="true"
  >
  </st>
</nz-card>
<nz-drawer
  style="position: relative"
  [nzClosable]="false"
  [nzWidth]="600"
  [nzVisible]="goodsChildrenVisible"
  nzTitle="调配"
  (nzOnClose)="goodsCloseDrawer('goodsChildrenVisible')"
>
  <div class="drawerMain">
    <div>
      <div>物资名称:{{ chooseGoods.matName }}</div>
      <div>物资编号:{{ chooseGoods.matSpec }}</div>
      <div>物资单位:{{ chooseGoods.matUnit }}</div>
      <div>可分配数量:{{ chooseGoods.residueCount }}</div>
    </div>
    <div>
      <p>分配设置</p>
      <div>
        <div class="container" *ngFor="let item of provisioningSettings; let idx = index">
          <div class="item">
            <span>分配数量</span>
            <nz-input-number (ngModelChange)="calculateTotal()" [(ngModel)]="item.count" [nzMin]="0"></nz-input-number>
          </div>
          <div class="item">
            <span>分配目的地</span>
            <nz-select [(ngModel)]="item.warehouseId">
              <nz-option *ngFor="let item of aimList" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
            </nz-select>
          </div>
          <div class="item">
            <span>备注</span>
            <textarea rows="4" placeholder="'请输入'" nz-input [(ngModel)]="item.remark"></textarea>
          </div>
          <img [ngClass]="delShow()" (click)="delProvision(idx)" class="img" src="assets/del.png" />
        </div>
        <div (click)="newProvision()" class="new">
          <img src="assets/new.png" />
          <span>新增</span>
        </div>
      </div>
    </div>
<!--    <div>-->
<!--      <p>剩余可分配数量</p>-->
<!--      <div>{{ totalProvisioningCount }}</div>-->
<!--    </div>-->
  </div>
  <div class="operation">
    <button (click)="delGoodsChildrenVisible()" nz-button>取消</button>
    <button (click)="initiateDeployment()" nz-button [nzType]="'primary'">发起分配</button>
  </div>
</nz-drawer>
