<div class="measure-item">
  <div style="font-weight: 700; font-size: 16px">
    <span>{{ itemDetail.createdDate }}</span
    ><span style="margin-left: 10px">{{ itemDetail.employeeName }}</span>
  </div>
  <p>处置部门：{{ itemDetail.employeeDeptName }}</p>
  <div style="margin-top: 5px">
    <span>处置措施：</span>
    <div *ngIf="!isEdit" class="item-detail">{{ itemDetail.description }}</div>
    <div *ngIf="isEdit" class="item-detail">
      <nz-form-item>
        <nz-form-control [nzSpan]="24">
          <textarea nz-input rows="5" [(ngModel)]="itemDetail.description" placeholder="请输入"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="img-list" *ngIf="itemDetail.resources != ''">
    <nz-image-group>
      <div style="position: relative; display: inline-block" *ngFor="let item of itemDetail.resources; let i = index">
        <img class="img" nz-image width="200px" [nzSrc]="downloadUrl + item" />
        <img class="deleteImg" src="assets/img/icon-close.png" (click)="deleteImg(i)" *ngIf="isEdit" />
      </div>
    </nz-image-group>
    <nz-upload
      class="avatar-uploader"
      [nzShowUploadList]="false"
      *ngIf="isEdit && isAddImg"
      [(nzFileList)]="fileList"
      [nzBeforeUpload]="beforeUpload"
    >
      <div class="add-img">
        <img src="assets/img/add.png" />
      </div>
    </nz-upload>
  </div>
  <div class="measure-button" *ngIf="!itemDetail.noEdit">
    <span *ngIf="!isEdit" (click)="editDetail()">编辑</span>
    <span *ngIf="isEdit" (click)="save()">保存</span>
    <span *ngIf="!isEdit" (click)="delete()">删除</span>
    <span *ngIf="isEdit" (click)="cancel()">取消</span>
  </div>
</div>
